body {
  background-color: #f4f6f8;
  margin: 0;
  padding: 0;
}

.list-item-container {
  font-family: "Inter", sans-serif;
  width: 287px;

  padding: 16px 4px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 0 12px 0 rgba(10, 10, 19, 0.16);
  background-color: #fafafd;
}

.list-item-name {
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.09px;
  text-align: left;
  color: var(--shade-4);
}

.list-item-info {
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.4px;
  text-align: left;
  color: #646467;
}

.list-item-image {
  padding: 0 10px;
  width: 40px;
  height: 40px;
}

.list-item-details-container {
  display: flex;
  flex-direction: column;
}
.list-item-details-container span {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.top-head-image {
  width: 100%;
  height: 171px;
}

.list-header {
  margin: 21px 25px 16px;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.89;
  letter-spacing: 0.14px;
  text-align: left;
  color: #0a0a14;
}

.top100-list-container {
  display: flex;
  align-items: center;
}

/* Ranking */

.top100-ranking-container {
  font-family: "Inter", sans-serif;
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.ranking-number {
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;

  text-align: left;
  color: #646467;
}
.ranking-icon {
  font-size: 20px;
}

.sector-item-container {
  height: 50px;
  margin: 0 15px;
  padding: 20px 16px;
  border-radius: 8px;
  box-shadow: 4px 4px 16px 0 rgba(10, 10, 20, 0.16);
  background-color: #fff;
  display: flex;
  align-items: center;
}

.sector-item-image {
  width: 50px;
  height: 40px;
}
.sector-item-details {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.sector-item-details-name {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.14px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}
.sector-item-details-price {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.8px;
  color: #646467;
}
/* 
@tailwind base;
@tailwind components;
@tailwind utilities; */
